@model University.BL.DTOs.OfficeAssignmentDTO

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<form action="/OfficeAssignments/Edit" method="post">
    @Html.HiddenFor(m => m.InstructorID)

    @Html.DisplayNameFor(m => m.Location)
    @Html.EditorFor(m => m.Location, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.Location, "", new { @class = "text-danger" })
    <hr />
    <input type="submit" value="Edit" class="btn btn-primary" />
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sm btn-primary" })
</form>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
