@model University.BL.DTOs.DepartmentDTO

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>




<form action="/Departments/Create" method="post">

    <h4>DepartmentDTO</h4>
    <hr />
    <div>

        <div class="col-4">

            @Html.LabelFor(model => model.DepartmentID, htmlAttributes: new { @class = "control-label col-md-4" })
            @Html.EditorFor(model => model.DepartmentID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DepartmentID, "", new { @class = "text-danger" })
        </div>

        <div class="col-4">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>

        <div class="col-4">
            @Html.LabelFor(model => model.Budget, htmlAttributes: new { @class = "control-label col-md-4" })
            @Html.EditorFor(model => model.Budget, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Budget, "", new { @class = "text-danger" })
        </div>

        <div class="col-4">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-4" })
            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
        </div>

        <div class="col-4">
            @Html.LabelFor(model => model.InstructorID, htmlAttributes: new { @class = "control-label col-md-4" })
            @Html.DropDownListFor(model => model.InstructorID, (SelectList)ViewData["Instructors"], new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.InstructorID, "", new { @class = "text-danger" })
        </div>

        <br />
        <div class="container-fluid">
            <input type="submit" value="Create" class="btn btn-primary" />

                @Html.ActionLink("Back to List", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
        </div>
</form>