@model University.BL.DTOs.CourseDTO

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>






<h4>Course</h4>
<hr />
@Html.ValidationSummary(true, "", new { @class = "text-danger" })




<form action="/Courses/Edit" method="post">
    <div class="col-4">
        @Html.HiddenFor(m => m.CourseID)
        @*@Html.EditorFor(m => m.CourseID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })*@
    </div>
    <div class="col-4">
        @Html.DisplayNameFor(m => m.Title)
        @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
    </div>
    <div class="col-4">
        @Html.DisplayNameFor(m => m.Credits)
        @Html.EditorFor(m => m.Credits, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Credits, "", new { @class = "text-danger" })
    </div>
    <br />
    <div class="col-4">
        <button class="btn btn-warning"><span><i class="fas fa-user-edit"> </i> <input type="submit" value="Edit" class="btn btn-warning" /></span></button>

        @Html.ActionLink("Back to List", "Index", null, new { @class = "link" })
    </div>
</form>

