@using PagedList.Mvc;
@model PagedList.IPagedList<University.BL.DTOs.CourseDTO>
@{ ViewBag.Title = "Index"; }

<h2>Course</h2>

<button class="btn btn-secondary"><span><i class="fas fa-plus-circle"> </i>@Html.ActionLink("Create New", "Create", "Courses", null, new { @class = "btn btn-sm btn-secondary" }) </span></button>
<hr />

<div>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>CourseID</th>
                <th>Title</th>
                <th>Credits</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CourseID</td>
                    <td>@item.Title</td>
                    <td>@item.Credits</td>

                    <td>
                        @Html.ActionLink("Intructor", "Index", "Courses", new { courseid = item.CourseID }, new { @class = "badge btn btn-sm btn-outline-info" })
                        @Html.ActionLink("Edit", "Edit", "Courses", new { courseid = item.CourseID }, new { @class = "badge btn btn-sm btn-outline-warning" })
                        @Html.ActionLink("Delete", "Delete", "Courses", new { courseid = item.CourseID }, new { @class = "badge btn btn-sm btn-outline-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row">
        <div class="col-12">
            <span class="float-right">
                @using (Html.BeginForm("Index", "Courses", FormMethod.Get))
                {

                    <select name="PageSize" id="PageSize" class="form-control">
                        <option @if ((int)ViewBag.PageSize == 5) { @Html.Raw("selected") }>5</option>
                        <option @if ((int)ViewBag.PageSize == 10) { @Html.Raw("selected") }>10</option>
                        <option @if ((int)ViewBag.PageSize == 15) { @Html.Raw("selected") }>15</option>
                    </select>

                    <input type="submit" value="Go" class="btn btn-outline-secondary" />

                }
            </span>
        </div>
    </div>
</div>

    Page @(Model.PageCount < Model.PageNumber ? 0: Model.PageNumber) of @Model.PageCount
    <br />
    Toatal Item Count @Model.TotalItemCount
    @Html.PagedListPager(Model, page => Url.Action("Index", "Courses", new { page, pageSize = ViewBag.PageSize }))

    @if (ViewBag.Instructores != null)
    {
        <h1>Instructores</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Last Name</th>
                    <th>First MidName</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in (List<University.BL.DTOs.InstructorDTO>)ViewBag.Instructores)
                {
                    <tr>
                        <td>@item.LastName</td>
                        <td>@item.FirstMidName</td>
                    </tr>
                }
            </tbody>
        </table>
    }
