@model University.BL.DTOs.StudentDTO

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<h4>Student</h4>
<hr />

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

<form action="/Students/Edit" method="post">
    <div>

        <div class="col-4">
            @Html.HiddenFor(m => m.ID)
        </div>
        <div class="col-4">
            @Html.DisplayNameFor(m => m.LastName)
            @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })

        </div>
        <div class="col-4">
            @Html.DisplayNameFor(m => m.FirstMidName)
            @Html.EditorFor(m => m.FirstMidName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.FirstMidName, "", new { @class = "text-danger" })
        </div>
        <div class="col-4">
            @Html.DisplayNameFor(m => m.EnrollmentDate)
            <input type="date" id="EnrollmentDate" name="EnrollmentDate" value="@Model.EnrollmentDateSTR" class="form-control">
            @Html.ValidationMessageFor(m => m.EnrollmentDate, "", new { @class = "text-danger" })
        </div>

        <br />
        <div class="col-4">
            <button class="btn btn-warning"><span><i class="fas fa-user-edit"> </i> <input type="submit" value="Edit" class="btn btn-warning" /></span></button>

            @Html.ActionLink("Back to List", "Index", null, new { @class = "link" })
        </div>
    </div>
</form>